# Lab 2 – Machine Learning Problem Identification

Dataset: Netflix Movies and TV Shows (Kaggle)

Student: Abdulrahman Alaamri  
Course: ARTI 308 – Machine Learning  
Semester: 2nd Semester 2025/2026

## Problem Description

This project aims to build a content-based recommendation system using the Netflix Movies and TV Shows dataset. Since the dataset does not include user interaction data such as ratings or watch history, this is an unsupervised learning problem.

The model will learn similarities between titles based on content features such as genre, cast, director, country, rating, duration, and description. Based on these similarities, the system can recommend movies or TV shows that are similar to a selected title.

## Import Pandas

In [18]:
import pandas as pd

## Load The Dataset

In [19]:
df = pd.read_csv("/netflix_titles.csv")

## Dataset Shape

In [20]:
df.shape

(8807, 12)

## Preview First Rows

In [21]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Column Names

In [22]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

## Data Types

In [23]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object